body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-image: url("/western_background.png");
  background-size: cover;
  background-position: top;
  background-attachment: fixed;
  min-height: 100vh;
  text-align: center;
}



.button-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 12vw;
}


.mode-button {
  font-family: 'Monserrat';
  width: 18vw; 
  height: 18vw; 
  background: #d3d3d3fc;
  border: 0.4vw solid #a5a5a5;
  font-size: 1.75rem;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s ease-in-out;
  border-radius: 50%;
  margin-bottom:5vw;
}

.mode-button:hover {
  background: #efefeffa;
  transform: scale(1.05);
}

.icon-label {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  
}

.parameter-list {
  display: flex;
  flex-wrap: wrap;
  gap: 0.3rem;
  justify-content: center;
  margin-bottom: 1.5rem;
}

.parameter-item {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  padding: 0.35rem 0.85rem;
  border: 0.21vw solid #152b99;
  border-radius: 0.375vw;
  box-shadow: 0 0.5vw 1vw rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-style:bold;
}

.chart-scroll-container {
  display: flex;
  flex-direction: column;
  align-items: center;   
  gap: 1.5vw;
  width: 100%;
}

.chart-box {
  width: 90%;  
  height: 20vw;
  background: #ffffff;
  border: 0.3vw solid #cecece;
  border-radius: 1.5vw;
  box-shadow: 0 0.3vw 0.8vw rgba(120, 8, 8, 0.15);
  padding: 12px;
  color: #000000a6;
}


.chart-title {
  font-weight: 800;
  margin-bottom: 1vw;
  text-align: center;
}

.footer{
  margin-bottom: 1vw;
  padding: 0.5vw;
  text-align: center;
  font-size: 0.875rem;
  color: #a3a7b1;
  background-color: rgba(255, 255, 255, 0.042);
}

@font-face {
  font-family: 'Monserrat'; 
  src: url("/Montserrat.ttf") format('truetype'); 
}

h1{
  font-family: 'Monserrat', sans-serif;
  color: rgb(22, 31, 190);
  font-size: 3.9rem;
  margin-bottom: 9.5vw;
  text-shadow: 0.2vw 0.2vw rgba(202, 201, 201, 0.94);
  font-style:bold;
  font-style:italic;
}

/*
.sidebar {
  border-right: 0.4vw solid #8c8c8c53;
  position: fixed;
  left: 0;
  top: 0;
  width: 5vw;
  height: 100vh;
  background-color:#d3d3d3fc; 
  box-shadow: 0 0.5vw 1vw rgba(0, 0, 0, 0.1);
  z-index: 999;
  transition: width 1.5s ease; 
  overflow: hidden; 
  display: flex; 
  flex-direction: column; 
  align-items: center;
  padding-top: 0px; 
}

.sidebar:hover {
  width: 30vw; 
}
*/

.dashboard-container {
  max-width: 90vw;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* From Uiverse.io by JaydipPrajapati1910 */ 
.toggle-button-cover {
  display: table-cell;
  position: relative;
  width:-20px;
  box-sizing: border-box;
  margin-bottom: 2vw;
}

.button-cover {
  height: 100px;
}

.button-cover:before {
  counter-increment: button-counter;
  content: counter(button-counter);
  position: absolute;
  color: #d7e3e3;
  font-size: 12px;
  line-height: 1;
}

.button-cover,
.knobs,
.layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.button {
  position: relative;
  top: 0%;
  left:4%;
  height: 36px;
  width:120px;
  margin: auto;
  overflow: hidden;

  margin-top: 5px;  
}


.checkbox {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  opacity: 0;
  cursor: pointer;
  z-index: 3;
}

.knobs {
  z-index: 2;
}

.layer {
  width: 100%;
  background-color: #ebf7fc;
  transition: 0.3s ease all;
  z-index: 1;
}

.button.r,
.button.r .layer {
  border-radius: 100px;
}

#button-3 .knobs:before {
  content: "LINE";
  position: absolute;
  top: 4px;
  left: 4px;
  width: 25px;
  height: 10px;
  color: #fff;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  line-height: 1;
  padding: 9px 4px;
  background-color: #146fe5;
  border-radius: 50%;
  transition: 0.3s ease all, left 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15);
}

#button-3 .checkbox:active + .knobs:before {
  width: 100px;
  border-radius: 100px;
}

#button-3 .checkbox:checked:active + .knobs:before {
  margin-left: -26px;
}

#button-3 .checkbox:checked + .knobs:before {
  content: "BAR";
  left: 80px;
  background-color:#2830cdff;
}

#button-3 .checkbox:checked ~ .layer {
  background-color: #fcebeb;
}

.slider{
  margin-bottom: 2vw;
  margin-top: 0vw;
}